//
// STICKY FOOTER
//

html {
  @extend .h-100;
}
body {
  @extend .d-flex;
  @extend .flex-column;
  @extend .h-100;
}
main {
  @extend .flex-shrink-0;
}
footer {
  @extend .mt-auto;
}

// style the footer

footer {
  padding-top: 1em;
  .shade {
    background-color: #ddd;
  }
  .join {
    padding-top: $vertical-padding;
    padding-bottom: $vertical-padding;
  }
  .row {
    //padding: 1rem;
    font-size: 90%;
  }
  .col {
    //text-align: center;
  }
  a.btn {
    background-color: white;
    color: black;
    padding-bottom: 0.2rem;
  }
}