/* INTRO */

.intro {
  padding-top: $vertical-padding;
  padding-bottom: $vertical-padding;
  display: table;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(102,102,102,1) 100%);
  width: 100%;
  height: 33vh;
  overflow-x: hidden;

  & > .our-container {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: -1.5rem;
  }

  h1 {
    line-height: 5.25rem;
    margin-bottom: 1rem;
    width: 80%;
    font-weight: 600;
    font-size: 5rem;
    color: rgba(255,255,255,0.9);
  }

  .breadcrumb {
    display: none;
    background-color: transparent;
    padding: 0px;
    a { color: white }
    .breadcrumb-item + .breadcrumb-item::before {
      font-weight: bolder;
    }
  }

  ::selection {
    background-color: white;
    color: black;
  }
}

.calyx-intro h1 {
  line-height: 7.5rem;
  margin-bottom: 1rem;
  width: 80%;
  font-weight: 600;
  font-size: 7rem;
}

.intro p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  width: 80%;
  color: rgba(255,255,255,0.9);
}

.calyx-intro img {
  position: absolute;
  width: 20rem;
  top: 1rem;
  right: -13rem;
  transform: rotate(-10deg);
  border-radius: 2rem;
  box-shadow: -1rem 1rem 3rem rgba(0,0,0,.5);
}

.calyx-intro img:hover {
  right: 1rem;
  margin-left: 0;
  transform: rotate(0deg);
  transition: all 0.25s;
  transform: rotate(0deg);
  transition-duration: .5s;
}

.calyx-intro {
  padding: 3rem 3rem;
  position: relative;
  height: 85vh;
  h1 {
    letter-spacing: -.25rem;
  }
}

// .intro p {
//   width: 100%;
//   color: rgba(255,255,255,0.9);
// }

.intro .text {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  top: -1rem;
  width: 80%;
}

@media only screen and (max-width: 768px) {

  .calyx-intro h1 {
    font-size: 6rem;
    line-height: 6.5rem;
  }

  .calyx-intro img {
    width: 17rem;
    top: 2rem;
    right: -10rem;
  }

  .intro p {
    width: 100%;
  }

  // .calyx-intro img:hover {
  //   right: -6rem;
  // }
}

@media only screen and (max-width: 480px) {

  // header {
  //   padding: 1.5rem;
  // }

  nav {
    padding: none;
  }

  .calyx-intro img {
    display: none;
  }

  .calyx-intro {
    padding: 1.5rem;
  }

  .our-container {
    padding: 1.5rem;
  }

  .home-container {
    padding: 0 1.5rem;
  }

  .intro h1 {
    font-size: 4rem;
    line-height: 4.25rem;
  }

  .calyx-intro h1 {
    font-size: 5rem;
    line-height: 5.5rem;
  }

}

// // xsmall screens
// @include media-breakpoint-down(xs) {
//   .calyx-intro img {display: none}
// }
//
// // small screens
// @include media-breakpoint-up(sm) {
//   .intro h1 {  font-size: 4rem }
// }
//
// // medium screens
// @include media-breakpoint-up(md) {
//   .intro h1 {  font-size: 5rem }
// }
// @include media-breakpoint-down(md) {
//
// // large screens
// @include media-breakpoint-up(lg) {
//   .intro h1 {  font-size: 6.5rem }
// }
