.locales a {
  display: block;
  padding: 4px;
  border-radius: 4px;
  &.active {
    color: white;
    background-color: $masthead-bg;
  }
}

code.highlighter-rouge {
  background: #efefef;
  padding: 2px;
  padding-bottom: 0px;
}

pre.highlight {
  padding: 1em;
}

//
// DOWNLOAD
//

table.download {
  td {
    white-space: nowrap;
  }
  td.hash {
    width: 100%;
    white-space: pre-line;
    word-break: break-all;
    //max-width: 0;
    //overflow: hidden;
    //text-overflow: ellipsis;
  }
}

//
// NAVIGATION
//

.navbar .nav-link {
  margin: 0.25em;
}

.navbar-toggle {
  height: 1.5em;
  width: 1.5em;
  background-image: url($baseurl + "/assets/images/bars-white.svg");
  background-size: cover;
  z-index: 200;
  display: none;
}

.navbar a::selection {
  background-color: white;
  color: black;
}

.navbar a span::selection {
  background-color: white;
  color: black;
}

.feature {
  align-items: center;
}

.mission p {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.25rem;
  width: 75%;
  margin: 0 auto;
}

.join p {
  width: 80%;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  .join p {
    width: 100%;
  }

  .navbar-toggle { display: block }
  .masthead .navbar-nav {
    display: none;
    position: absolute;
    z-index: 100;
    right: 0;
    top: 36px;
    color: black;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: .5rem;
    background: #333;
    border-radius: 6px;
    .nav-link {
      padding: 0.75em 0.5em 0.5em 1em;
    }
  }
  input.toggle:checked ~ .navbar-nav {
    display: block;
  }
}

//
// CSS TOGGLES
//

label.toggle {
  cursor: pointer;
}

input.toggle {
  display: none;
}

input.toggle:not(:checked) ~ #lang-toggle {
  display: none;
}

@media only screen and (max-width: 640px) {
  .mission p {
    width: 100%;
  }
}
