<section class="feature">
  <h1>Learn More</h1>
  <div class="row">
    <div class="col-md-6 learn-more">
      <img class="img-fluid" src="{{ '/assets/images/download-calyxos.svg' | relative_url }}" alt="#">
      <h2><a href="{{ '/get' | relative_url}}">Download CalyxOS</a></h2>
      <p>Install CalyxOS on your device.</p>
    </div>
    <div class="col-md-6 md-collapse-top-spacer">
      <img class="img-fluid" src="{{ '/assets/images/about-calyxos.svg' | relative_url }}" alt="#">
      <h2><a href="{{ '/features' | relative_url }}">About CalyxOS</a></h2>
      <p>Why did we create CalyxOS?</p>
    </div>
  </div>
</section>
