<section class="shade feature">
  <div class="row">
    <div class="col join">
      <h1>Become a Member</h1>
      <p>CalyxOS is a collaborative open source applied research project sponsored by the Calyx Institute, a 501(c) non-profit dedicated to making privacy and security available for all.</p>
      <div class="mt-3">
        <a class="btn btn-outline-secondary" href="https://calyxinstitute.org">Join Calyx</a>
        <a class="btn btn-outline-secondary" href="https://calyxinstitute.org/about">{{ site.data.strings.about-us }}</a>
      </div>
    </div>
  </div>
</section>
